<ion-content>
  <div class="card-color">
    <div class="image">
      <img class="banner" src="../../../assets/img/Banner.png">
    </div>
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>Log In</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <ion-item>
            <ion-input type="Email" (change)="onClick()" formControlName="email" label="Email" [(ngModel)]="email"
              name="email" labelPlacement="floating" placeholder="Enter here" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="Password" (change)="onClick()" formControlName="password" label="Password"
              [(ngModel)]="password" name="password" labelPlacement="floating" placeholder="Enter here"
              required></ion-input>
          </ion-item>
          <ion-button color="success" type="submit" [disabled]="loginForm.invalid" size="full">Log In</ion-button>
        </form>
        <ion-label color="danger" *ngIf="errorMessage">{{errorMessage}}</ion-label>
        <img src="../../assets/img/CompanyLogo.png">
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>